<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/template.css">

    <link rel="stylesheet" href="global.css"/>
    <link rel="stylesheet" href="/pages/dashboard/styles.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container px-5">
            <a class="navbar-brand">Backend.Food</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto g-3">
                    <% for (let i = 0; i < options.length; i++) { %>
                        <% const current = options[i] %>
                        <li class="nav-item text-center"><a onclick="clickSFX()" class="nav-link" href="#<%= current.name %>"><%= current.name %></a></li>
                    <% } %>
                    <li class="nav-item text-bg-danger text-center"><a onclick="clickSFX()" class="nav-link text-white" href="/signout">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="options" class="d-flex flex-column justify-content-center align-content-center mt-6 p-5">
        <% for (let i = 0; i < options.length; i++ ) { %>
            <% const current = options[i] %>
            <div id="<%= current.name %>">
                <div class="ps-5 pe-5">
                    <h1><%= current.name %> Options</h1>
                    <hr>
                </div>
                <% const currentOptions = current.options %>
                <div class="d-flex flex-lg-row flex-column justify-content-evenly  align-items-center align-items-lg-baseline p-5">
                    <% for(let j = 0; j < currentOptions.length; j++) { %>
                        <% const option = currentOptions[j] %>
                        <div onclick="window.location.href = '<%= option.onclick %>'" class="card container p-0 m-3">
                            <img src="<%= option.img %>" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-title"><%= option.title %></h4>
                                <h6 class="card-subtitle mb-2 text-muted"><%= option.subtitle %></h6>
                                <p class="card-text"><%= option.text %></p>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
    <script>
        const clickMusic = new Audio('/music/click.ogg')
        const backgroundMusic = new Audio('/music/background.ogg')

        clickMusic.loop = false
        backgroundMusic.loop = true

        clickMusic.volume = .8
        backgroundMusic.volume =.2

        clickMusic.pause()
        try
        {
            backgroundMusic.play()
        }
        catch { }

        async function clickSFX() {
            await clickMusic.play()
        }
    </script>
    <script type="module" src="/bootstrap_js/bootstrap.bundle.min.js"></script>
</body>
</html>