<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="/bootstrap_css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/startbootstrap/css/styles.css"/>

    <link rel="stylesheet" href="/global.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container px-5">
            <a class="navbar-brand">Backend.Food</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item text-center"><a class="nav-link"><%= allowJoin ? 'Your Orders' : 'All Orders' %></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead text-black align-content-center h-100">
        <div class="masthead-content h-100">
            <div class="main h-100 w-100 container bg-white rounded-5 p-5" >
                <div class="text-center w-100">
                    <h2><%= allowJoin ? 'Your Orders' : 'All Orders' %></h2>
                    <hr>
                </div>
                <div class="flex-grow-1 d-flex flex-column justify-content-start align-items-center overflow-y-scroll no-wrap form-control p-3 mb-3">
                    <div id="orders-parent" class="w-100 scroll">
                        <% if (orders.length > 0) { %>
                            <% for(let i = 0; i < orders.length; i++ ) { %>
                                <% const current = orders[i] %>
                                <div class="card w-100 mt-3 mb-3 d-flex flex-column justify-content-evenly align-items-baseline">
                                    <div class="card-body w-100">
                                        <div class="w-100 p-0 d-flex flex-column flex-md-row justify-content-evenly">
                                            <div class="w-100 w-md-50 overflow-x-scroll no-wrap m-2">
                                                <h3 class="card-title m-0"> Order ID: <%= current.id %> </h3>
                                            </div>
                                            <div class="w-100 w-md-50 overflow-x-scroll no-wrap text-end p-2 m-2">
                                                <h6 class="card-title m-0"> Created On: <strong> <%= current.createdOn %> </strong> By <strong> <%= current.authorName %> </strong></h6>
                                            </div>
                                        </div>
                                        <div class="w-100 p-0 d-flex justify-content-evenly">
                                            <div class="w-50 d-flex flex-column flex-md-row justify-content-evenly overflow-x-scroll no-wrap p-2">
                                                <% if(current.status === 'ordered') { %>
                                                    <span class="p-2 rounded-2 text-center text-warning-emphasis text-bg-warning fw-bold ms-1 me-1">Ordered</span>
                                                    <span class="p-2 rounded-2 text-center text-success fw-bold ms-1 me-1">Completed</span>
                                                <% } else { %>
                                                    <span class="p-2 rounded-2 text-center text-warning fw-bold ms-1 me-1">Ordered</span>
                                                    <span class="p-2 rounded-2 text-center text-success-emphasis text-bg-success fw-bold ms-1 me-1">Completed</span>
                                                <% } %>
                                            </div>
                                            <div class="w-50 text-end">
                                                <button onclick="window.location.href = '/order/<%= current.id %>/<%= current.authorName %>'" class="btn text-primary-emphasis text-bg-primary fw-bold ms-1 me-1">Show</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% } else { %>
                            <div class="w-100 text-center text-dark-emphasis p5">
                                <h3>No Orders</h3>
                            </div>
                        <% } %>
                    </div>
                </div>
                <% if (allowJoin) { %>
                    <div class="text-center w-100">
                        <h2>Join an Order</h2>
                        <hr>
                    </div>
                    <form class="d-flex flex-column flex-md-row justify-content-evenly align-items-center mb-3">
                        <div class="mb-3 mb-md-0">
                            <label for="id" class="form-label">Order ID</label>
                            <input type="number" name="id" class="form-control" id="id" placeholder="Enter Order ID">
                        </div>
                        <div class="mb-3 mb-md-0">
                            <label for="author" class="form-label">Order Author</label>
                            <input type="text" name="author" class="form-control" id="author" placeholder="Enter Order Author Name">
                        </div>
                        <button type="submit" class="btn btn-primary text-primary-emphasis text-bg-primary btn-lg rounded-pill me-4 mt-4">Join Order</button>
                    </form>
                <% } %>
                <div class="w-100 text-center">
                    <button onclick="window.location.href = '/dashboard'" class="btn btn-primary btn-xl rounded-pill m-2">Return</button>
                </div>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle bobble-effect-10"></div>
        <div class="bg-circle-2 bg-circle bobble-effect-8"></div>
        <div class="bg-circle-3 bg-circle bobble-effect-6"></div>
        <div class="bg-circle-4 bg-circle bobble-effect-4"></div>
    </header>
    <script>
        const form = document.querySelector('form')

        const idInput = document.getElementById('id')
        const authorInput = document.getElementById('author')

        form.onsubmit = (e) => {
            e.preventDefault()

            const id = parseInt(idInput.value.trim())
            const author = authorInput.value.trim()

            if(id > 0 && author)
                window.location.href = `/order/${id}/${author}/true`
        }
    </script>
    <script type="module" src="/bootstrap_js/bootstrap.bundle.min.js"></script>
</body>
</html>